body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-bar {
  background-color: rgba(19, 69, 83, 0.982) !important;
  width: 100%;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.footer {
  color: rgb(254, 254, 254);
  justify-content: space-around;
  padding: 20px;
  height: 50vh;
  display: flex;
  background-color: rgba(19, 69, 83, 0.982) !important;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 1;
}

.footer .left1 {
  padding: 10px;
  width: 30%;
  border-right: 1px solid rgb(255, 255, 255);
}

.footer .center1 {
  padding: 40px;
  text-align: center;
  width: 30%;
}

.footer .right1 {
  padding: 30px;
  border-left: 1px solid rgb(255, 255, 255);
  text-align: center;
  width: 30%;
}

.footer2 {
  color: whitesmoke;
  background-color: rgb(13, 49, 59);
}

.image {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.image img {
  cursor: pointer;
  width: 35px;
  height: 35px;
}